<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cc67429-4f52-4d22-939d-b6b97f1f9ed8" Alias="Aziz Acharki Virdzs38sqw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AzizAcharkiVirdzs38sqwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-10T22:30:33</CreateDate>
    <NodeName Default="Aziz Acharki Virdzs38sqw Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f30mm1cs/aziz-acharki-virdzs38sqw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>