<?xml version="1.0" encoding="utf-8"?>
<Media Key="264edb7d-0e27-42a1-954d-a0905723847c" Alias="Karina Vorozheeva Rw I87apy5y Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KarinaVorozheevaRwI87apy5yUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-10T01:07:25</CreateDate>
    <NodeName Default="Karina Vorozheeva Rw I87apy5y Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ppnf2jrh/karina-vorozheeva-rw-i87apy5y-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>