<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a74ac5b-3e3c-4087-82f0-66c0fce8c94a" Alias="Ryan Walton Abno2iejoxa Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RyanWaltonAbno2iejoxaUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-10T15:24:34</CreateDate>
    <NodeName Default="Ryan Walton Abno2iejoxa Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwwhikr2/ryan-walton-abno2iejoxa-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>