<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="077abd59-3bb0-4242-9a63-0a5fae41e677" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="169af705-5721-4934-a05a-0832c5c02660">contentProperties</Composition>
      <Composition Key="6e14a64f-fb6f-4c0e-a41c-ab376d0feeb4">headerProperties</Composition>
      <Composition Key="c135bf69-f75a-41c6-b819-808f034de3d0">visibiltyProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d56f1a3d-34df-4ddb-bdbb-b117d8c54485">ContentPage</Template>
      <Template Key="a197d532-cb02-4bc4-b63a-3d81ec001114">Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>