<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6eb7c6b3-11bb-450c-9ab0-cb67295a9d08" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone-ring color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Information about contact.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="169af705-5721-4934-a05a-0832c5c02660">contentProperties</Composition>
      <Composition Key="6e14a64f-fb6f-4c0e-a41c-ab376d0feeb4">headerProperties</Composition>
      <Composition Key="c135bf69-f75a-41c6-b819-808f034de3d0">visibiltyProperties</Composition>
    </Compositions>
    <DefaultTemplate>Master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6251bbb7-bd8a-4095-977a-59f31af08c53">ContactPage</Template>
      <Template Key="a197d532-cb02-4bc4-b63a-3d81ec001114">Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>