<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ee9afb9-45d5-4388-a97d-b3b9aaf3febf" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="6e14a64f-fb6f-4c0e-a41c-ab376d0feeb4">headerProperties</Composition>
      <Composition Key="52c17243-0487-424b-a459-ad684cf93e66">navigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1437689c-0052-4117-a92a-38ca01ade642">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="077abd59-3bb0-4242-9a63-0a5fae41e677" SortOrder="0">contentPage</ContentType>
    <ContentType Key="af294eca-b139-4e87-801f-457a5e8e47fe" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="6eb7c6b3-11bb-450c-9ab0-cb67295a9d08" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>