<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c6d99b7-fdd9-4e64-968b-3e4a7628073f" Alias="[Block List] Main Content" Level="1">
  <Info>
    <Name>[Block List] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f9dbfae4-34fe-49af-8191-ab79211512bd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text' + $index }} {{$settings.hide=='1'? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "0ac953dc-c6ff-46d6-b8ff-8ee0d4b64340",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#6a329f",
      "contentElementTypeKey": "09741ef5-ee9e-475e-aba3-35ba48a6d08d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row' + $index }} {{$settings.hide=='1'? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "77966ea4-e599-477f-8899-ce83a2fad879",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>