<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4ad3f9f-944c-42d3-af62-62d49dd4177e" Alias="About" Level="2">
  <Info>
    <Parent Key="1c7cff1a-3ace-46b7-b5bb-c01829b22e45">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-08-10T15:25:18</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d56f1a3d-34df-4ddb-bdbb-b117d8c54485">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "f35b07b3-7764-47c4-93c7-63f5812be906",
    "mediaKey": "2a74ac5b-3e3c-4087-82f0-66c0fce8c94a"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/be3e6b45ca2e43f8b6f3d60b181ed8a1",
        "settingsUdi": "umb://element/c284c8af64f04626a96564f169424870"
      },
      {
        "contentUdi": "umb://element/6c29d0ca91dd48b2bc7ce58a0f4cc5c8",
        "settingsUdi": "umb://element/38c9736a96d74da2bf8859875e771512"
      },
      {
        "contentUdi": "umb://element/4194374680fb4e2a91896638c0660b99",
        "settingsUdi": "umb://element/95b6f8658d1d4f90a267eb6b830723a7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f9dbfae4-34fe-49af-8191-ab79211512bd",
      "udi": "umb://element/be3e6b45ca2e43f8b6f3d60b181ed8a1",
      "content": "<p>Row 1</p>"
    },
    {
      "contentTypeKey": "f9dbfae4-34fe-49af-8191-ab79211512bd",
      "udi": "umb://element/6c29d0ca91dd48b2bc7ce58a0f4cc5c8",
      "content": "<p>Row 2</p>"
    },
    {
      "contentTypeKey": "09741ef5-ee9e-475e-aba3-35ba48a6d08d",
      "udi": "umb://element/4194374680fb4e2a91896638c0660b99",
      "image": [
        {
          "key": "f2ccfc0e-557a-4d60-a4c1-015ad3b0bcd6",
          "mediaKey": "2a74ac5b-3e3c-4087-82f0-66c0fce8c94a"
        }
      ],
      "caption": "The good dog",
      "link": [
        {
          "name": "test",
          "url": "#testingA"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "0ac953dc-c6ff-46d6-b8ff-8ee0d4b64340",
      "udi": "umb://element/c284c8af64f04626a96564f169424870",
      "hide": "0"
    },
    {
      "contentTypeKey": "0ac953dc-c6ff-46d6-b8ff-8ee0d4b64340",
      "udi": "umb://element/38c9736a96d74da2bf8859875e771512"
    },
    {
      "contentTypeKey": "77966ea4-e599-477f-8899-ce83a2fad879",
      "udi": "umb://element/95b6f8658d1d4f90a267eb6b830723a7",
      "hide": "1"
    }
  ]
}]]></Value>
    </mainContent>
    <subTitle>
      <Value><![CDATA[How We are?]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[About]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>