<?xml version="1.0" encoding="utf-8"?>
<Content Key="c34287af-2c6c-43aa-8315-11ddf19696da" Alias="Blog" Level="2">
  <Info>
    <Parent Key="1c7cff1a-3ace-46b7-b5bb-c01829b22e45">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2024-08-10T18:42:57</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc06c600-6fdd-4a08-bf6c-dc0a6a878eef">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "4d64d626-cc7d-4ce4-a0a7-22fc1e0417b9",
    "mediaKey": "6cc67429-4f52-4d22-939d-b6b97f1f9ed8"
  }
]]]></Value>
    </headerImage>
    <subTitle>
      <Value><![CDATA[List of blogs.]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[List of Blogs]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>