<?xml version="1.0" encoding="utf-8"?>
<Content Key="38f90911-0382-45e8-ac3b-fb514c588eac" Alias="Contact" Level="2">
  <Info>
    <Parent Key="1c7cff1a-3ace-46b7-b5bb-c01829b22e45">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-08-10T18:42:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6251bbb7-bd8a-4095-977a-59f31af08c53">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "47d0da57-1a21-4598-bcee-92a4e2b59f33",
    "mediaKey": "0605a163-dc95-4f9e-b0dc-05327e2bf45c"
  }
]]]></Value>
    </headerImage>
    <subTitle>
      <Value><![CDATA[Where you can contact us?]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>