<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c7cff1a-3ace-46b7-b5bb-c01829b22e45" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-10T00:23:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1437689c-0052-4117-a92a-38ca01ade642">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "d6f8506e-b4e8-49c6-a0bc-1ac7f3f79728",
    "mediaKey": "264edb7d-0e27-42a1-954d-a0905723847c"
  }
]]]></Value>
    </headerImage>
    <navigation>
      <Value><![CDATA[[
  {
    "key": "94dd7077-0adb-4022-b240-4cc2efc6c8a2",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": [
      {
        "name": "Home",
        "udi": "umb://document/1c7cff1a3ace46b7b5bbc01829b22e45"
      }
    ],
    "chilldLinks": null
  },
  {
    "key": "d3ccfe50-b125-4a69-bafb-38633b8466ce",
    "name": "About",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "About",
    "link": [
      {
        "name": "About",
        "udi": "umb://document/d4ad3f9f944c42d3af6262d49dd4177e"
      }
    ],
    "chilldLinks": null
  },
  {
    "key": "b97b469e-d02b-4870-8a7c-81a86ac756b4",
    "name": "Bloq",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Bloq",
    "link": [
      {
        "name": "Blog",
        "udi": "umb://document/c34287af2c6c43aa831511ddf19696da"
      }
    ],
    "chilldLinks": [
      {
        "name": "Blog",
        "url": "#testing1"
      },
      {
        "name": "Most Popular",
        "url": "#testing2"
      },
      {
        "name": "Latest Posts",
        "url": "#testing3"
      }
    ]
  },
  {
    "key": "58fba036-f481-4bec-b2f8-d3a5421d62b8",
    "name": "Contact",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact",
    "link": [
      {
        "name": "Contact",
        "udi": "umb://document/38f90911038245e8ac3bfb514c588eac"
      }
    ],
    "chilldLinks": null
  }
]]]></Value>
    </navigation>
    <subTitle>
      <Value><![CDATA[A blog training]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Jose Umbraco Site]]></Value>
    </title>
  </Properties>
</Content>